.submitButton{
  padding: 15px;
  background-color: #15803D;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
  transition: 1.5s;
}

.submitButton:hover{
  transform: translateY(-10px);
  cursor: pointer;
}

input[type="text"],
input[type="tel"]{
  width: 100%;
  padding: 11px 13px;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background: #fafbfc;
  transition: border-color 0.2s;

  &:focus {
    outline: none;
    border-color: #15803D;
    background: #f1f8fe;
  }

}

input::placeholder{
  color: rgba(0, 0, 0, 0.5);
}
