.carCard {
  width: 33%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 24px;
  gap: 8px;
  background-color: #fff ;
  color: #000;

  img {
    width: 100%;
    border-radius: 4px;
  }
}

.infos {
  color: gray;
}
