<div class="profil-container max-w-md mx-auto mt-8 p-6 bg-white rounded shadow space-y-6">
  <h1 class="text-2xl font-bold text-gray-800">Profil</h1>
  <div class="profil-details space-y-4" *ngIf="!isEditing">
    <p><strong>Nom:</strong> Test Name</p>
    <p><strong>Email:</strong> Test&#64;gmail.com</p>
    <button
      pButton
      type="button"
      label="Modifier les informations"
      class="w-full bg-primary-500 hover:bg-primary-600 text-white font-bold py-2 rounded transition-colors"
      (click)="toggleEdit()">
    </button>
  </div>

  <div class="profil-edit space-y-4" *ngIf="isEditing">
    <label>
      <span>Nom :</span>
      <input type="text" class="w-full border rounded p-2" placeholder="Test Name">
    </label>
    <label>
      <span>Email :</span>
      <input type="email" class="w-full border rounded p-2" placeholder="Test@gmail.com">
    </label>
    <label>
      <span>Ville :</span>
      <input type="text" class="w-full border rounded p-2" placeholder="Lens">
    </label>
    <label>
      <span>Pays :</span>
      <input type="text" class="w-full border rounded p-2" placeholder="France">
    </label>
    <label>
      <span>Code postal :</span>
      <input type="text" class="w-full border rounded p-2" placeholder="62300">
    </label>
    <label>
      <span>Telephone :</span>
      <input type="text" class="w-full border rounded p-2" placeholder="0654789234">
    </label>
    <br/>
    <br/>
    <button
      pButton
      type="button"
      label="Valider"
      class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 rounded transition-colors"
      (click)="toggleEdit()">
    </button>
  </div>
</div>
