<div class="withdrawalForm">
  <!--<p>{{rental.client.lastName}} {{rental.client.firstname}}</p>
  <p>{{rental.id}}</p>
  <p>{{rental.startDate}} - {{rental.endDate}}</p>
  <p>{{rental.car.name}}</p>-->

  <input type="number" placeholder="Kilométrage*" [(ngModel)]="miles">
  <input type="number" placeholder="Niveau de carburant*" [(ngModel)]="fuel">
  <input type="text" placeholder="État intérieur du véhicule*" [(ngModel)]="interiorState">
  <input type="text" placeholder="État extérieur du véhicule*" [(ngModel)]="exteriorState">
  <input type="text" placeholder="Commentary*" [(ngModel)]="commentary">
</div>
